@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@100&family=Space+Mono&family=Ubuntu:wght@300&display=swap');

:root {
    --primary-color: #2A2F4F;
    --secondary-color: #10175a;
    --accent-color: rgb(221, 107, 77);
    --background-color: #e2e0d6;
}

* {
    font-family: 'Ubuntu';
    transition: ease-in-out 0.1s;
    user-select: none;
}

body {
    position: relative;
    margin: 0;
    background-color: #000000;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://preview.redd.it/a7nminnt9e6b1.png?width=941&format=png&auto=webp&v=enabled&s=d58a5a29fe2595a481c054871caf7d342f0972d5');    opacity: 0.5; /* Adjust the opacity value for the body */
}

nav {
    text-align: center;
    opacity: 1; /* Adjust the opacity value for the nav */
    margin: 0;
    padding: 10px 2px;
    position: relative;
    z-index: 1;
}


#logo a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: 1000;
}

#logo {
    display: block;
}

.content {
    background-color: var(--primary-color);
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70vmax;
}
#chap-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align li elements to the center horizontally */
  }
  
  .chap-li {
    padding: 10px;
    width: 20%;
    background-color: rgba(48, 28, 95, 0.5);
    margin: 5px 10px;
    border-radius: 3px;
    color: white;
    border: 2px solid var(--secondary-color);
  }
  

.chap-li:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
}

#chap-list h2 {
    padding: 20px;
    color: var(--accent-color);
}

#chap-list h2:hover {
    cursor: pointer;
}

.button {
    background-color: var(--accent-color);
    margin: 3px auto;
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--secondary-color);
    border: none;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-decoration: none;
}

.button:hover {
    color: var(--primary-color);
    cursor: pointer;
    background-color: rgb(209, 103, 77);
}

.button:active {
    box-shadow: none;
}
#auth-container {
    margin: 15vh auto;
    background-color: var(--secondary-color);
    display: none;
    align-items: center;
    min-height: 200px;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    color: var(--background-color);
  }
  
  @media screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600px */
    #auth-container {
      min-height: 150px;
    }
  }
  
  #auth-container[open] {
    display: flex;
    flex-direction: column;
  }
  
  
#auth-container button{
    margin: 20px auto;
}


#auth-container input{
    text-align: center;
    width: 50%;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--background-color);
    padding:5px 10px;
    font-size: 1.3em;
    
}

#auth-container input:focus{
    background-color: white;
    border: 2px solid var(--accent-color);
}

#google-svg{
    fill: var(--primary-color);
}

.alert{
    display: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

#admin-anchor{
    display: none;
    text-align: center;
    margin: 10px auto;
}

::placeholder{
    color: rgb(59, 57, 57);
    font-weight: lighter;
}

/* admin page styling  */
table {
    border-collapse: collapse;
    user-select: all;
    margin: 10px auto;
    display: none;
}


td,
th {
    color: white;
    border: 2px solid #000000;
    text-align: left;
    padding: 10px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;

}



#header{
    background-color: var(--background-color);
}
#header th{
    text-align: center;
    color: black;

}

tr:nth-child(even){
    background-color: #1f3c64;
}

tr:nth-child(odd){
    background-color: rgba(30, 65, 114,0.5);
}

h1 {
    color: white;
    font-size: 2.5em;
    cursor: pointer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#access-container input {
    outline: none;
    max-width: 200px;
    background-color: var(--background-color);
    color: black;
    font-weight: 900;
    padding: 5px 10px;
    margin: 5px auto;
    font-size: 1.2em;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;


}

#access-container button{
    background-color: var(--accent-color);
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
    transition: ease 0s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    width: 100px;
    text-align: center;

}

#access-container button:hover{
    background-color: salmon;
    cursor: pointer;
    
}

#table-container, #access-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}

th{
    cursor: pointer;
}

#admin-exit{
    display: none;
}

.chapter-modal{
    margin-top: 10px;
    background-color: var(--secondary-color);    
    width: 75vmax;
    height: 75vmax;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif    ;
}
.chapter-modal h1{
    font-family: 'Ubuntu';
}

.chapter-modal button{
    padding: 5px 10px;
    margin: 10px 10px;
}

.cross{
    position: fixed;
    top: 5vh;
    width: fit-content;
    text-align: center;
    right: 12vmax;
    color: black;
    background-color: none;
    border:none;
    box-shadow: none;
    border-radius: 100%;
}

.cross:hover{
    color: rgb(39, 38, 38);
}

.previous, .next {
    position: fixed;
    top: 93vh;
}

.previous{
    left: 30vh;
}

.next{
    right: 30vh;
}

/*dialog styling*/
dialog[open] {

    animation: show-dialog 0.5s ease normal;
}

dialog.hide {
    animation: hide-dialog 0.2s ease normal;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    animation: none;
}
dialog[open]::backdrop {
    animation: show-backdrop 0.5s ease 0.2s normal;
}

dialog[close]{
    animation: hide-backdrop 0.5s ease 0.2s normal;
}

dialog.hide::backdrop {
    animation: hide-backdrop 0.5s ease 0.2s normal;
}
@keyframes show-dialog {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(5%);
    }
}
@keyframes hide-dialog{
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes show-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide-backdrop{
    to {
        transform: (translateY(200%));
    }
}

/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
  }
  
  

  